<footer class="mundb-footer bg-dark text-light">
Copyright&copy; Auxiliary Teaching for SAST 2018, all rights reserved.
</footer>
<{if $islogin && $userinfo["cur_version"]!=$version_info["version"] }>
<style>
    .atsast-upgrade{
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }
    .atsast-upgrade:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    }
    .atsast-upgrade > version_name{
        margin-bottom:1rem;
    }
</style>
<div id="new_version" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content atsast-upgrade">
            <div class="modal-header">
                <h5 class="modal-title" id="version_name"><{$version_info["version"]}> 上线啦！</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modeal_desc"><{$version_info["logs"] nofilter}></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script>

    window.addEventListener("load",function() {
        $('#new_version').modal();
        $.post("<{$ATSAST_DOMAIN}>/ajax/Upgrade");
    }, false);
    
</script>
<{/if}>