<style>
    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #fff;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }
    card.img-card{
        padding:0;
        overflow: hidden;
        cursor: pointer;
    }

    card.img-card > img{
        width:100%;
        height:10rem;
        object-fit: cover;
    }
    card.img-card > div{
        text-align: center;
        padding: 1rem;
    }

    card.album-selected {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 40px!important;
        transform: scale(1.02);
    }
    card:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    }
    h5{
        margin-bottom:1rem;
    }
    .form-control:disabled, .form-control[disabled]{
        background-color: transparent;
    }
    .atsast-img-container{
        width: 100%;
        padding:2rem;
    }
    .atsast-img-container > img{
        width: 100%;
    }
    .atsast-upload{
        display: none;
    }

    #avatar{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
    }
    .atsast-toast {
        margin-bottom:5rem;
    }
    #snackbar-container{
        pointer-events: none;
    }

    #snackbar-container *{
        pointer-events: all;
    }
    th,
    td{
        white-space: nowrap;
    }
    .card-flex-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="container mundb-standard-container">
    <h1 class="mb-3"><i class="MDI format-list-bulleted-type"></i> SAST课程表工具</h1>
    <hr class="atsast-line mb-5">
    <card class="mb-5">
        <div class="card-flex-title">
            <h5><i class="MDI glasses"></i> 本周安排+1s</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="current_week">
                    loading……
                </button>
                <div class="dropdown-menu" id="available_week">
                    
                </div>
            </div>
        </div>
        <div>
            <table class="table table-borderless table-hover">
                <thead>
                    <tr>
                        <th scope="col">组名</th>
                        <th scope="col">标题</th>
                        <th scope="col">详情</th>
                        <th scope="col">时间</th>
                        <th scope="col">地点</th>
                    </tr>
                </thead>
                <tbody id="detail_container">

                </tbody>
            </table>
        </div>
    </card>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modeal_title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p id="modeal_desc"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
        </div>
        </div>
    </div>
</div>
<script>

    function getMonDayAndSunDay(datevalue) {
        var dateValue = datevalue;
        var arr = dateValue.split("-");
        var date = new Date(arr[0], arr[1] - 1, arr[2]);
        var dateOfWeek = date.getDay();
        var dateOfWeekInt = parseInt(dateOfWeek, 10);
        if (dateOfWeekInt == 0) {
            dateOfWeekInt = 7;
        }
        var aa = 7 - dateOfWeekInt;
        var temp2 = parseInt(arr[2], 10);
        var sunDay = temp2 + aa;
        var monDay = sunDay - 6;
        var startDate = new Date(arr[0], arr[1] - 1, monDay);
        var endDate = new Date(arr[0], arr[1] - 1, sunDay);
        var sm = parseInt(startDate.getMonth()) + 1;
        var em = parseInt(endDate.getMonth()) + 1;
        var start = startDate.getFullYear() + "-" + sm + "-" + startDate.getDate();
        var end = endDate.getFullYear() + "-" + em + "-" + endDate.getDate();
        var result = [];
        result.push(start);
        result.push(end);
        return result;
    }

    function getDate() {
        var dt = new Date()
        var start = new Date(dt.getFullYear(), dt.getMonth(), 1)
        var start_ = new Date(this.getMonDayAndSunDay(start.Format('yyyy-MM-dd'))[0])
        var end = new Date(dt.getFullYear(), dt.getMonth() + 1, 5)
        var end_ = new Date(this.getMonDayAndSunDay(end.Format('yyyy-MM-dd'))[1])
        this.changeMonth(start_, end_);
    }

    function addDate(date,days) { 
        var d=new Date(date); 
        d.setDate(d.getDate()+days); 
        var m=d.getMonth()+1; 
        return d.getFullYear()+'-'+m+'-'+d.getDate(); 
    }

    function procDate(date){
        var d=new Date(date);
        var month=d.getMonth()+1;
        var date=d.getDate();
        if(month<10) month="0"+month;
        if(date<10) date="0"+date;
        return month+"月"+date+"日";
    }

    function selectWeek(date){
        $("#current_week").html($('[data-date|="'+date+'"]').html());
        $.post("<{$ATSAST_DOMAIN}>/ajax/getSast_schedule",{
            time: date
        },function(result){
            result=JSON.parse(result);
            $.snackbar({content: result.desc,style:"toast text-center atsast-toast"});
            $("#detail_container").html("");
            if(result.ret==200){  
                result.data.forEach(data => {
                    var pre_content="<tr>";
                    pre_content+='<th scope="row">'+data.cname+'</th>';
                    pre_content+='<td>'+data.title+'</td>';
                    pre_content+='<td style="white-space: normal;">'+data.desc+'</td>';
                    pre_content+='<td>'+data.time.replace(" ","<br>")+'</td>';
                    pre_content+='<td>'+data.location.replace(" ","<br>")+'</td>';
                    pre_content+='</tr>';
                    $("#detail_container").append(pre_content);
                });
            }else{
                ;
            }
        });
    }

    window.addEventListener("load",function() {
        var temp_range=getMonDayAndSunDay("<{$time}>");
        var start_range=[],end_range=[],range_text=["上上周","上一周","这一周","下一周","下下周"];
        for(var i=-2;i<=2;i++){
            start_range.push(addDate(temp_range[0],i*7));
            end_range.push(addDate(temp_range[1],i*7));
        }
        // console.log(start_range);
        // console.log(end_range);
        var pre_content="";
        for(var i=0;i<5;i++){
            pre_content+='<a class="dropdown-item" data-date="'+start_range[i]+'" href="#">'+range_text[i]+' ('+procDate(start_range[i])+"~"+procDate(end_range[i])+')</a>';
        }
        $("#available_week").html(pre_content);
        selectWeek(temp_range[0]);

        $('[data-date]').click(function(){
            // console.log($(this).attr("data-date"));
            selectWeek($(this).attr("data-date"));
        });

    }, false);

    function alert(desc) {
        var title = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : "提示";
        $('#modeal_desc').html(desc);
        $('#modeal_title').html(title);
        $('#modal').modal();
    }

</script>