<style>
    card {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        transition: .2s ease-out .0s;
        color: #7a8e97;
        background: #f5f5f5;
        padding: 1rem;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
        margin-bottom: 2rem;
    }

    color-pattern {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
        overflow:hidden;
        transition: .2s ease-out .0s;
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }

    card.img-card{
        padding:0;
        overflow: hidden;
        cursor: pointer;
    }

    card.img-card > img{
        width:100%;
        height:10rem;
        object-fit: cover;
    }
    card.img-card > div{
        text-align: center;
        padding: 1rem;
    }

    card.album-selected {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 40px!important;
        transform: scale(1.02);
    }
    card:hover,color-pattern:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px;
    }
    h5{
        margin-bottom:1rem;
    }
    .form-control:disabled, .form-control[disabled]{
        background-color: transparent;
    }
    .atsast-img-container{
        width: 100%;
        padding:2rem;
    }
    .atsast-img-container > img{
        width: 100%;
    }
    .atsast-upload{
        display: none;
    }

    #avatar{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 30px;
        border-radius: 4px;
    }

    .dynamic-color{
        color: rgba(0,0,0,0.87);
    }

    .dynamic-color .wemd-red,
    .dynamic-color .wemd-pink,
    .dynamic-color .wemd-purple,
    .dynamic-color .wemd-deep-purple,
    .dynamic-color .wemd-indigo,
    .dynamic-color .wemd-blue,
    .dynamic-color .wemd-light-blue,
    .dynamic-color .wemd-cyan,
    .dynamic-color .wemd-teal,
    .dynamic-color .wemd-green,
    .dynamic-color .wemd-light-green,
    .dynamic-color .wemd-lime,
    .dynamic-color .wemd-yellow,
    .dynamic-color .wemd-amber,
    .dynamic-color .wemd-orange,
    .dynamic-color .wemd-deep-orange,
    .dynamic-color .wemd-brown,
    .dynamic-color .wemd-grey,
    .dynamic-color .wemd-blue-grey,
    .dynamic-color .wemd-black,
    .dynamic-color .wemd-white,
    .dynamic-color .wemd-transparent,
    color-pattern > div {
        height: 4rem;
        width: 100%;
        padding: 0 1rem;
        font-weight: 500;
        font-size: 0.75rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }

    .dynamic-color > div {
        margin-bottom: 4rem;
    }
</style>

<div class="container mundb-standard-container">
    <h1 class="mb-3"><i class="MDI brush"></i> 调色板</h1>
    <hr class="atsast-line mb-5">
    <card class="mb-5">
        <h5><i class="MDI brush"></i> WeChat Material Design Color Scheme</h5>
        <div>
            <div id="palette">
                <div class="row dynamic-color">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-red wemd-lighten-5"><span>#ffebee red lighten-5</span></div>
                            <div class="wemd-red wemd-lighten-4"><span>#ffcdd2 red lighten-4</span></div>
                            <div class="wemd-red wemd-lighten-3"><span>#ef9a9a red lighten-3</span></div>
                            <div class="wemd-red wemd-lighten-2"><span>#e57373 red lighten-2</span></div>
                            <div class="wemd-red wemd-lighten-1"><span>#ef5350 red lighten-1</span></div>
                            <div class="wemd-red"><span>#f44336 red</span></div>
                            <div class="wemd-red wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#e53935 red darken-1</span></div>
                            <div class="wemd-red wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#d32f2f red darken-2</span></div>
                            <div class="wemd-red wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#c62828 red darken-3</span></div>
                            <div class="wemd-red wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#b71c1c red darken-4</span></div>
                            <div class="wemd-red wemd-accent-1"><span>#ff8a80 red accent-1</span></div>
                            <div class="wemd-red wemd-accent-2"><span>#ff5252 red accent-2</span></div>
                            <div class="wemd-red wemd-accent-3"><span>#ff1744 red accent-3</span></div>
                            <div class="wemd-red wemd-accent-4"><span>#d50000 red accent-4</span></div>
                        </color-pattern>
                    </div>
        
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-pink wemd-lighten-5"><span>#fce4ec pink lighten-5</span></div>
                            <div class="wemd-pink wemd-lighten-4"><span>#f8bbd0 pink lighten-4</span></div>
                            <div class="wemd-pink wemd-lighten-3"><span>#f48fb1 pink lighten-3</span></div>
                            <div class="wemd-pink wemd-lighten-2"><span>#f06292 pink lighten-2</span></div>
                            <div class="wemd-pink wemd-lighten-1"><span>#ec407a pink lighten-1</span></div>
                            <div class="wemd-pink"><span>#e91e63 pink</span></div>
                            <div class="wemd-pink wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#d81b60 pink darken-1</span></div>
                            <div class="wemd-pink wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#c2185b pink darken-2</span></div>
                            <div class="wemd-pink wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#ad1457 pink darken-3</span></div>
                            <div class="wemd-pink wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#880e4f pink darken-4</span></div>
                            <div class="wemd-pink wemd-accent-1"><span>#ff80ab pink accent-1</span></div>
                            <div class="wemd-pink wemd-accent-2"><span>#ff4081 pink accent-2</span></div>
                            <div class="wemd-pink wemd-accent-3"><span>#f50057 pink accent-3</span></div>
                            <div class="wemd-pink wemd-accent-4"><span>#c51162 pink accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-purple wemd-lighten-5"><span>#f3e5f5 purple lighten-5</span></div>
                            <div class="wemd-purple wemd-lighten-4"><span>#e1bee7 purple lighten-4</span></div>
                            <div class="wemd-purple wemd-lighten-3"><span>#ce93d8 purple lighten-3</span></div>
                            <div class="wemd-purple wemd-lighten-2"><span>#ba68c8 purple lighten-2</span></div>
                            <div class="wemd-purple wemd-lighten-1"><span>#ab47bc purple lighten-1</span></div>
                            <div class="wemd-purple"><span>#9c27b0 purple</span></div>
                            <div class="wemd-purple wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#8e24aa purple darken-1</span></div>
                            <div class="wemd-purple wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#7b1fa2 purple darken-2</span></div>
                            <div class="wemd-purple wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#6a1b9a purple darken-3</span></div>
                            <div class="wemd-purple wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#4a148c purple darken-4</span></div>
                            <div class="wemd-purple wemd-accent-1"><span>#ea80fc purple accent-1</span></div>
                            <div class="wemd-purple wemd-accent-2"><span>#e040fb purple accent-2</span></div>
                            <div class="wemd-purple wemd-accent-3"><span>#d500f9 purple accent-3</span></div>
                            <div class="wemd-purple wemd-accent-4"><span>#aa00ff purple accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-deep-purple wemd-lighten-5"><span>#ede7f6 deep-purple lighten-5</span></div>
                            <div class="wemd-deep-purple wemd-lighten-4"><span>#d1c4e9 deep-purple lighten-4</span></div>
                            <div class="wemd-deep-purple wemd-lighten-3"><span>#b39ddb deep-purple lighten-3</span></div>
                            <div class="wemd-deep-purple wemd-lighten-2"><span>#9575cd deep-purple lighten-2</span></div>
                            <div class="wemd-deep-purple wemd-lighten-1"><span>#7e57c2 deep-purple lighten-1</span></div>
                            <div class="wemd-deep-purple"><span>#673ab7 deep-purple</span></div>
                            <div class="wemd-deep-purple wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#5e35b1 deep-purple darken-1</span></div>
                            <div class="wemd-deep-purple wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#512da8 deep-purple darken-2</span></div>
                            <div class="wemd-deep-purple wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#4527a0 deep-purple darken-3</span></div>
                            <div class="wemd-deep-purple wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#311b92 deep-purple darken-4</span></div>
                            <div class="wemd-deep-purple wemd-accent-1"><span>#b388ff deep-purple accent-1</span></div>
                            <div class="wemd-deep-purple wemd-accent-2"><span>#7c4dff deep-purple accent-2</span></div>
                            <div class="wemd-deep-purple wemd-accent-3"><span>#651fff deep-purple accent-3</span></div>
                            <div class="wemd-deep-purple wemd-accent-4"><span>#6200ea deep-purple accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-indigo wemd-lighten-5"><span>#e8eaf6 indigo lighten-5</span></div>
                            <div class="wemd-indigo wemd-lighten-4"><span>#c5cae9 indigo lighten-4</span></div>
                            <div class="wemd-indigo wemd-lighten-3"><span>#9fa8da indigo lighten-3</span></div>
                            <div class="wemd-indigo wemd-lighten-2"><span>#7986cb indigo lighten-2</span></div>
                            <div class="wemd-indigo wemd-lighten-1"><span>#5c6bc0 indigo lighten-1</span></div>
                            <div class="wemd-indigo"><span>#3f51b5 indigo</span></div>
                            <div class="wemd-indigo wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#3949ab indigo darken-1</span></div>
                            <div class="wemd-indigo wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#303f9f indigo darken-2</span></div>
                            <div class="wemd-indigo wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#283593 indigo darken-3</span></div>
                            <div class="wemd-indigo wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#1a237e indigo darken-4</span></div>
                            <div class="wemd-indigo wemd-accent-1"><span>#8c9eff indigo accent-1</span></div>
                            <div class="wemd-indigo wemd-accent-2"><span>#536dfe indigo accent-2</span></div>
                            <div class="wemd-indigo wemd-accent-3"><span>#3d5afe indigo accent-3</span></div>
                            <div class="wemd-indigo wemd-accent-4"><span>#304ffe indigo accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-blue wemd-lighten-5"><span>#e3f2fd blue lighten-5</span></div>
                            <div class="wemd-blue wemd-lighten-4"><span>#bbdefb blue lighten-4</span></div>
                            <div class="wemd-blue wemd-lighten-3"><span>#90caf9 blue lighten-3</span></div>
                            <div class="wemd-blue wemd-lighten-2"><span>#64b5f6 blue lighten-2</span></div>
                            <div class="wemd-blue wemd-lighten-1"><span>#42a5f5 blue lighten-1</span></div>
                            <div class="wemd-blue"><span>#2196f3 blue</span></div>
                            <div class="wemd-blue wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#1e88e5 blue darken-1</span></div>
                            <div class="wemd-blue wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#1976d2 blue darken-2</span></div>
                            <div class="wemd-blue wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#1565c0 blue darken-3</span></div>
                            <div class="wemd-blue wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#0d47a1 blue darken-4</span></div>
                            <div class="wemd-blue wemd-accent-1"><span>#82b1ff blue accent-1</span></div>
                            <div class="wemd-blue wemd-accent-2"><span>#448aff blue accent-2</span></div>
                            <div class="wemd-blue wemd-accent-3"><span>#2979ff blue accent-3</span></div>
                            <div class="wemd-blue wemd-accent-4"><span>#2962ff blue accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-light-blue wemd-lighten-5"><span>#e1f5fe light-blue lighten-5</span></div>
                            <div class="wemd-light-blue wemd-lighten-4"><span>#b3e5fc light-blue lighten-4</span></div>
                            <div class="wemd-light-blue wemd-lighten-3"><span>#81d4fa light-blue lighten-3</span></div>
                            <div class="wemd-light-blue wemd-lighten-2"><span>#4fc3f7 light-blue lighten-2</span></div>
                            <div class="wemd-light-blue wemd-lighten-1"><span>#29b6f6 light-blue lighten-1</span></div>
                            <div class="wemd-light-blue"><span>#03a9f4 light-blue</span></div>
                            <div class="wemd-light-blue wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#039be5 light-blue darken-1</span></div>
                            <div class="wemd-light-blue wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#0288d1 light-blue darken-2</span></div>
                            <div class="wemd-light-blue wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#0277bd light-blue darken-3</span></div>
                            <div class="wemd-light-blue wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#01579b light-blue darken-4</span></div>
                            <div class="wemd-light-blue wemd-accent-1"><span>#80d8ff light-blue accent-1</span></div>
                            <div class="wemd-light-blue wemd-accent-2"><span>#40c4ff light-blue accent-2</span></div>
                            <div class="wemd-light-blue wemd-accent-3"><span>#00b0ff light-blue accent-3</span></div>
                            <div class="wemd-light-blue wemd-accent-4"><span>#0091ea light-blue accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-cyan wemd-lighten-5"><span>#e0f7fa cyan lighten-5</span></div>
                            <div class="wemd-cyan wemd-lighten-4"><span>#b2ebf2 cyan lighten-4</span></div>
                            <div class="wemd-cyan wemd-lighten-3"><span>#80deea cyan lighten-3</span></div>
                            <div class="wemd-cyan wemd-lighten-2"><span>#4dd0e1 cyan lighten-2</span></div>
                            <div class="wemd-cyan wemd-lighten-1"><span>#26c6da cyan lighten-1</span></div>
                            <div class="wemd-cyan"><span>#00bcd4 cyan</span></div>
                            <div class="wemd-cyan wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#00acc1 cyan darken-1</span></div>
                            <div class="wemd-cyan wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#0097a7 cyan darken-2</span></div>
                            <div class="wemd-cyan wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#00838f cyan darken-3</span></div>
                            <div class="wemd-cyan wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#006064 cyan darken-4</span></div>
                            <div class="wemd-cyan wemd-accent-1"><span>#84ffff cyan accent-1</span></div>
                            <div class="wemd-cyan wemd-accent-2"><span>#18ffff cyan accent-2</span></div>
                            <div class="wemd-cyan wemd-accent-3"><span>#00e5ff cyan accent-3</span></div>
                            <div class="wemd-cyan wemd-accent-4"><span>#00b8d4 cyan accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-teal wemd-lighten-5"><span>#e0f2f1 teal lighten-5</span></div>
                            <div class="wemd-teal wemd-lighten-4"><span>#b2dfdb teal lighten-4</span></div>
                            <div class="wemd-teal wemd-lighten-3"><span>#80cbc4 teal lighten-3</span></div>
                            <div class="wemd-teal wemd-lighten-2"><span>#4db6ac teal lighten-2</span></div>
                            <div class="wemd-teal wemd-lighten-1"><span>#26a69a teal lighten-1</span></div>
                            <div class="wemd-teal"><span>#009688 teal</span></div>
                            <div class="wemd-teal wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#00897b teal darken-1</span></div>
                            <div class="wemd-teal wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#00796b teal darken-2</span></div>
                            <div class="wemd-teal wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#00695c teal darken-3</span></div>
                            <div class="wemd-teal wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#004d40 teal darken-4</span></div>
                            <div class="wemd-teal wemd-accent-1"><span>#a7ffeb teal accent-1</span></div>
                            <div class="wemd-teal wemd-accent-2"><span>#64ffda teal accent-2</span></div>
                            <div class="wemd-teal wemd-accent-3"><span>#1de9b6 teal accent-3</span></div>
                            <div class="wemd-teal wemd-accent-4"><span>#00bfa5 teal accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-green wemd-lighten-5"><span>#e8f5e9 green lighten-5</span></div>
                            <div class="wemd-green wemd-lighten-4"><span>#c8e6c9 green lighten-4</span></div>
                            <div class="wemd-green wemd-lighten-3"><span>#a5d6a7 green lighten-3</span></div>
                            <div class="wemd-green wemd-lighten-2"><span>#81c784 green lighten-2</span></div>
                            <div class="wemd-green wemd-lighten-1"><span>#66bb6a green lighten-1</span></div>
                            <div class="wemd-green"><span>#4caf50 green</span></div>
                            <div class="wemd-green wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#43a047 green darken-1</span></div>
                            <div class="wemd-green wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#388e3c green darken-2</span></div>
                            <div class="wemd-green wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#2e7d32 green darken-3</span></div>
                            <div class="wemd-green wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#1b5e20 green darken-4</span></div>
                            <div class="wemd-green wemd-accent-1"><span>#b9f6ca green accent-1</span></div>
                            <div class="wemd-green wemd-accent-2"><span>#69f0ae green accent-2</span></div>
                            <div class="wemd-green wemd-accent-3"><span>#00e676 green accent-3</span></div>
                            <div class="wemd-green wemd-accent-4"><span>#00c853 green accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-light-green wemd-lighten-5"><span>#f1f8e9 light-green lighten-5</span></div>
                            <div class="wemd-light-green wemd-lighten-4"><span>#dcedc8 light-green lighten-4</span></div>
                            <div class="wemd-light-green wemd-lighten-3"><span>#c5e1a5 light-green lighten-3</span></div>
                            <div class="wemd-light-green wemd-lighten-2"><span>#aed581 light-green lighten-2</span></div>
                            <div class="wemd-light-green wemd-lighten-1"><span>#9ccc65 light-green lighten-1</span></div>
                            <div class="wemd-light-green"><span>#8bc34a light-green</span></div>
                            <div class="wemd-light-green wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#7cb342 light-green darken-1</span></div>
                            <div class="wemd-light-green wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#689f38 light-green darken-2</span></div>
                            <div class="wemd-light-green wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#558b2f light-green darken-3</span></div>
                            <div class="wemd-light-green wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#33691e light-green darken-4</span></div>
                            <div class="wemd-light-green wemd-accent-1"><span>#ccff90 light-green accent-1</span></div>
                            <div class="wemd-light-green wemd-accent-2"><span>#b2ff59 light-green accent-2</span></div>
                            <div class="wemd-light-green wemd-accent-3"><span>#76ff03 light-green accent-3</span></div>
                            <div class="wemd-light-green wemd-accent-4"><span>#64dd17 light-green accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-lime wemd-lighten-5"><span>#f9fbe7 lime lighten-5</span></div>
                            <div class="wemd-lime wemd-lighten-4"><span>#f0f4c3 lime lighten-4</span></div>
                            <div class="wemd-lime wemd-lighten-3"><span>#e6ee9c lime lighten-3</span></div>
                            <div class="wemd-lime wemd-lighten-2"><span>#dce775 lime lighten-2</span></div>
                            <div class="wemd-lime wemd-lighten-1"><span>#d4e157 lime lighten-1</span></div>
                            <div class="wemd-lime"><span>#cddc39 lime</span></div>
                            <div class="wemd-lime wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#c0ca33 lime darken-1</span></div>
                            <div class="wemd-lime wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#afb42b lime darken-2</span></div>
                            <div class="wemd-lime wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#9e9d24 lime darken-3</span></div>
                            <div class="wemd-lime wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#827717 lime darken-4</span></div>
                            <div class="wemd-lime wemd-accent-1"><span>#f4ff81 lime accent-1</span></div>
                            <div class="wemd-lime wemd-accent-2"><span>#eeff41 lime accent-2</span></div>
                            <div class="wemd-lime wemd-accent-3"><span>#c6ff00 lime accent-3</span></div>
                            <div class="wemd-lime wemd-accent-4"><span>#aeea00 lime accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-yellow wemd-lighten-5"><span>#fffde7 yellow lighten-5</span></div>
                            <div class="wemd-yellow wemd-lighten-4"><span>#fff9c4 yellow lighten-4</span></div>
                            <div class="wemd-yellow wemd-lighten-3"><span>#fff59d yellow lighten-3</span></div>
                            <div class="wemd-yellow wemd-lighten-2"><span>#fff176 yellow lighten-2</span></div>
                            <div class="wemd-yellow wemd-lighten-1"><span>#ffee58 yellow lighten-1</span></div>
                            <div class="wemd-yellow"><span>#ffeb3b yellow</span></div>
                            <div class="wemd-yellow wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#fdd835 yellow darken-1</span></div>
                            <div class="wemd-yellow wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#fbc02d yellow darken-2</span></div>
                            <div class="wemd-yellow wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#f9a825 yellow darken-3</span></div>
                            <div class="wemd-yellow wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#f57f17 yellow darken-4</span></div>
                            <div class="wemd-yellow wemd-accent-1"><span>#ffff8d yellow accent-1</span></div>
                            <div class="wemd-yellow wemd-accent-2"><span>#ffff00 yellow accent-2</span></div>
                            <div class="wemd-yellow wemd-accent-3"><span>#ffea00 yellow accent-3</span></div>
                            <div class="wemd-yellow wemd-accent-4"><span>#ffd600 yellow accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-amber wemd-lighten-5"><span>#fff8e1 amber lighten-5</span></div>
                            <div class="wemd-amber wemd-lighten-4"><span>#ffecb3 amber lighten-4</span></div>
                            <div class="wemd-amber wemd-lighten-3"><span>#ffe082 amber lighten-3</span></div>
                            <div class="wemd-amber wemd-lighten-2"><span>#ffd54f amber lighten-2</span></div>
                            <div class="wemd-amber wemd-lighten-1"><span>#ffca28 amber lighten-1</span></div>
                            <div class="wemd-amber"><span>#ffc107 amber</span></div>
                            <div class="wemd-amber wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#ffb300 amber darken-1</span></div>
                            <div class="wemd-amber wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#ffa000 amber darken-2</span></div>
                            <div class="wemd-amber wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#ff8f00 amber darken-3</span></div>
                            <div class="wemd-amber wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#ff6f00 amber darken-4</span></div>
                            <div class="wemd-amber wemd-accent-1"><span>#ffe57f amber accent-1</span></div>
                            <div class="wemd-amber wemd-accent-2"><span>#ffd740 amber accent-2</span></div>
                            <div class="wemd-amber wemd-accent-3"><span>#ffc400 amber accent-3</span></div>
                            <div class="wemd-amber wemd-accent-4"><span>#ffab00 amber accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-orange wemd-lighten-5"><span>#fff3e0 orange lighten-5</span></div>
                            <div class="wemd-orange wemd-lighten-4"><span>#ffe0b2 orange lighten-4</span></div>
                            <div class="wemd-orange wemd-lighten-3"><span>#ffcc80 orange lighten-3</span></div>
                            <div class="wemd-orange wemd-lighten-2"><span>#ffb74d orange lighten-2</span></div>
                            <div class="wemd-orange wemd-lighten-1"><span>#ffa726 orange lighten-1</span></div>
                            <div class="wemd-orange"><span>#ff9800 orange</span></div>
                            <div class="wemd-orange wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#fb8c00 orange darken-1</span></div>
                            <div class="wemd-orange wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#f57c00 orange darken-2</span></div>
                            <div class="wemd-orange wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#ef6c00 orange darken-3</span></div>
                            <div class="wemd-orange wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#e65100 orange darken-4</span></div>
                            <div class="wemd-orange wemd-accent-1"><span>#ffd180 orange accent-1</span></div>
                            <div class="wemd-orange wemd-accent-2"><span>#ffab40 orange accent-2</span></div>
                            <div class="wemd-orange wemd-accent-3"><span>#ff9100 orange accent-3</span></div>
                            <div class="wemd-orange wemd-accent-4"><span>#ff6d00 orange accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-deep-orange wemd-lighten-5"><span>#fbe9e7 deep-orange lighten-5</span></div>
                            <div class="wemd-deep-orange wemd-lighten-4"><span>#ffccbc deep-orange lighten-4</span></div>
                            <div class="wemd-deep-orange wemd-lighten-3"><span>#ffab91 deep-orange lighten-3</span></div>
                            <div class="wemd-deep-orange wemd-lighten-2"><span>#ff8a65 deep-orange lighten-2</span></div>
                            <div class="wemd-deep-orange wemd-lighten-1"><span>#ff7043 deep-orange lighten-1</span></div>
                            <div class="wemd-deep-orange"><span>#ff5722 deep-orange</span></div>
                            <div class="wemd-deep-orange wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#f4511e deep-orange darken-1</span></div>
                            <div class="wemd-deep-orange wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#e64a19 deep-orange darken-2</span></div>
                            <div class="wemd-deep-orange wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#d84315 deep-orange darken-3</span></div>
                            <div class="wemd-deep-orange wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#bf360c deep-orange darken-4</span></div>
                            <div class="wemd-deep-orange wemd-accent-1"><span>#ff9e80 deep-orange accent-1</span></div>
                            <div class="wemd-deep-orange wemd-accent-2"><span>#ff6e40 deep-orange accent-2</span></div>
                            <div class="wemd-deep-orange wemd-accent-3"><span>#ff3d00 deep-orange accent-3</span></div>
                            <div class="wemd-deep-orange wemd-accent-4"><span>#dd2c00 deep-orange accent-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-brown wemd-lighten-5"><span>#efebe9 brown lighten-5</span></div>
                            <div class="wemd-brown wemd-lighten-4"><span>#d7ccc8 brown lighten-4</span></div>
                            <div class="wemd-brown wemd-lighten-3"><span>#bcaaa4 brown lighten-3</span></div>
                            <div class="wemd-brown wemd-lighten-2"><span>#a1887f brown lighten-2</span></div>
                            <div class="wemd-brown wemd-lighten-1"><span>#8d6e63 brown lighten-1</span></div>
                            <div class="wemd-brown"><span>#795548 brown</span></div>
                            <div class="wemd-brown wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#6d4c41 brown darken-1</span></div>
                            <div class="wemd-brown wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#5d4037 brown darken-2</span></div>
                            <div class="wemd-brown wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#4e342e brown darken-3</span></div>
                            <div class="wemd-brown wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#3e2723 brown darken-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-grey wemd-lighten-5"><span>#fafafa grey lighten-5</span></div>
                            <div class="wemd-grey wemd-lighten-4"><span>#f5f5f5 grey lighten-4</span></div>
                            <div class="wemd-grey wemd-lighten-3"><span>#eeeeee grey lighten-3</span></div>
                            <div class="wemd-grey wemd-lighten-2"><span>#e0e0e0 grey lighten-2</span></div>
                            <div class="wemd-grey wemd-lighten-1"><span>#bdbdbd grey lighten-1</span></div>
                            <div class="wemd-grey"><span>#9e9e9e grey</span></div>
                            <div class="wemd-grey wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#757575 grey darken-1</span></div>
                            <div class="wemd-grey wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#616161 grey darken-2</span></div>
                            <div class="wemd-grey wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#424242 grey darken-3</span></div>
                            <div class="wemd-grey wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#212121 grey darken-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-blue-grey wemd-lighten-5"><span>#eceff1 blue-grey lighten-5</span></div>
                            <div class="wemd-blue-grey wemd-lighten-4"><span>#cfd8dc blue-grey lighten-4</span></div>
                            <div class="wemd-blue-grey wemd-lighten-3"><span>#b0bec5 blue-grey lighten-3</span></div>
                            <div class="wemd-blue-grey wemd-lighten-2"><span>#90a4ae blue-grey lighten-2</span></div>
                            <div class="wemd-blue-grey wemd-lighten-1"><span>#78909c blue-grey lighten-1</span></div>
                            <div class="wemd-blue-grey"><span>#607d8b blue-grey</span></div>
                            <div class="wemd-blue-grey wemd-darken-1" style="color: rgba(255, 255, 255, 0.9);"><span>#546e7a blue-grey darken-1</span></div>
                            <div class="wemd-blue-grey wemd-darken-2" style="color: rgba(255, 255, 255, 0.9);"><span>#455a64 blue-grey darken-2</span></div>
                            <div class="wemd-blue-grey wemd-darken-3" style="color: rgba(255, 255, 255, 0.9);"><span>#37474f blue-grey darken-3</span></div>
                            <div class="wemd-blue-grey wemd-darken-4" style="color: rgba(255, 255, 255, 0.9);"><span>#263238 blue-grey darken-4</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="wemd-black" style="color: rgba(255, 255, 255, 0.9);"><span>#000000 black</span></div>
                            <div class="wemd-white"><span>#ffffff white</span></div>
                            <div class="wemd-transparent"><span>N/A transparent</span></div>
                        </color-pattern>
                    </div>
                </div>
            </div>
        </div>
    </card>
    <card class="mb-5">
        <h5><i class="MDI brush"></i> Bootstrap Material Design</h5>
        <div>
            <div id="palette">
                <div class="row dynamic-color">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="bg-primary" style="color: rgba(255, 255, 255, 0.9);"><span>#009688 primary</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="bg-secondary" style="color: rgba(255, 255, 255, 0.9);"><span>#6c757d secondary</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <color-pattern>
                            <div class="bg-success" style="color: rgba(255, 255, 255, 0.9);"><span>#4caf50 success</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="bg-info" style="color: rgba(255, 255, 255, 0.9);"><span>#03a9f4 info</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="bg-warning" style="color: rgba(255, 255, 255, 0.9);"><span>#ff5722 warning</span></div>
                        </color-pattern>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <color-pattern>
                            <div class="bg-danger" style="color: rgba(255, 255, 255, 0.9);"><span>#f44336 danger</span></div>
                        </color-pattern>
                    </div>
                </div>
            </div>
        </div>
    </card>


</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modeal_title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p id="modeal_desc"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
        </div>
        </div>
    </div>
</div>
<script>
    window.addEventListener("load",function() {
        ;
    }, false);

    function alert(desc) {
        var title = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : "提示";
        $('#modeal_desc').html(desc);
        $('#modeal_title').html(title);
        $('#modal').modal();
    }
</script>